.information{
    padding: 50px 0;

    .information-block{
        width: 80%;
        background: $green;



        p.information_text{
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 300;
            line-height: 30px;
            color: $black;
            padding: 40px 60px 40px 100px;

        }

    }
}