$white: #fff;
$black: #000;
$green: #E3EBCE;
$gradient: linear-gradient(180deg, #FFFFFF 27.23%, rgba(255, 255, 255, 0) 77.52%);





// $headerText: #333333;
// $green: #00963f;
// $blue: #009ee2;
// $blueText: #4cd2fe;
// $blueSale: #5dd5fe;
// $gray: #6d6d6d;
// $fon: #efefef;
// $gold: #ffb400;
// $footerBg: #1d1e1e;
// $footerText: #a8a9a9;
// $borderColor: rgb(239, 239, 239);
// $blueButton: linear-gradient(45deg, #33b9e9, #098fc7);